*   {
  margin:0;
  padding:0;
}

html, body {
  height: 100%;
}

body {
  /* font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}